/* ======= Base ======= */

body {
    font-family: 'Lato', arial, sans-serif;
    color: #444444;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #1b6ab0;
}

a {
    color: #17baef;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

a:hover {
    text-decoration: underline;
    color: #0e98c5;
}

header {
    background: #fff !important;
}

footer {
    display: none;
}

.logo-title {
    color: #17baef !important;
}

.scroller {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.btn,
a.btn {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    font-family: 'Montserrat', arial, sans-serif;
    padding: 8px 16px;
    font-weight: bold;
}

.btn .fa,
a.btn .fa {
    margin-right: 5px;
}

.btn:focus,
a.btn:focus {
    color: #fff;
}

a.btn-cta-primary,
.btn-cta-primary {
    background: #1b6ab0;
    /*border: 1px solid #1b6ab0;*/
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

a.btn-cta-primary:hover,
.btn-cta-primary:hover {
    background: #134e81;
    /*border: 1px solid #134e81;*/
    color: #fff;
}

a.btn-cta-secondary,
.btn-cta-secondary {
    background: rgba(108, 63, 238, 0.62);
    /*border: 1px solid rgba(108, 63, 238, 0.62);*/
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

a.btn-cta-secondary:hover,
.btn-cta-secondary:hover {
    background: rgba(108, 63, 238, 0.72);
    /*border: 1px solid #6c3fee;*/
    color: #fff;
}

.text-highlight {
    color: #074f66;
}

.offset-header {
    padding-top: 90px;
}

pre code {
    font-size: 16px;
}

/* ---------------Custom Navbar Toggle------------------ */

.c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 40px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.c-hamburger:focus {
    outline: none;
}

.c-hamburger span {
    display: block;
    position: absolute;
    top: 20px;
    left: 5px;
    right: 5px;
    height: 5px;
    background: #1b6ab0;
}

.c-hamburger span::before,
.c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #1b6ab0;
    content: "";
}

.c-hamburger span::before {
    top: -10px;
}

.c-hamburger span::after {
    bottom: -10px;
}

.c-hamburger--htx span {
    transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
    transition-property: top, transform;
}

.c-hamburger--htx span::after {
    transition-property: bottom, transform;
}

.c-hamburger--htx.is-active span {
    background: none;
}

.c-hamburger--htx.is-active span::before {
    top: 0;
    transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
    transition-delay: 0s, 0.3s;
}


/* ---------------END Custom Navbar Toggle------------------ */

.header {
    padding: 10px 0;
    background: #17baef;
    color: #fff;
    position: fixed;
    width: 100%;
}

.navbar-toggle {
    display: none;
}

.header.navbar-fixed-top {
    background: #fff;
    z-index: 9999 !important;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.header.navbar-fixed-top .logo a {
    color: #17baef;
}

.header.navbar-fixed-top .main-nav .nav .nav-item a {
    color: #666666;
}

.header .logo {
    margin: 0;
    font-size: 26px;
    padding-top: 10px;
}

.header .logo a {
    color: #fff;
}

.header .logo a:hover {
    text-decoration: none;
}

.header .main-nav button {
    /*  background: #1b6ab0;*/
    color: #fff !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.header .main-nav button:focus {
    outline: none;
}

.header .main-nav button .icon-bar {
    background-color: #fff;
}

.header .main-nav .navbar-collapse {
    padding: 0;
}

.header .main-nav .nav .nav-item {
    font-weight: normal;
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif;
}

.header .main-nav .nav .nav-item.active a {
    color: #17baef;
    background: none;
}

.header .main-nav .nav .nav-item a {
    color: #0a7396;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    font-size: 14px;
    padding: 15px 10px;
}

.header .main-nav .nav .nav-item a:hover {
    color: #074f66;
    background: none;
}

.header .main-nav .nav .nav-item a:focus {
    outline: none;
    background: none;
}

.header .main-nav .nav .nav-item a:active {
    outline: none;
    background: none;
}

.header .main-nav .nav .nav-item.active {
    color: #17baef;
}

.header .main-nav .nav .nav-item.last {
    margin-right: 0;
}


/* ======= Promo Section ======= */

.promo {
    background: #17baef;
    color: #fff;
    padding-top: 150px;
}

.promo .title {
    font-size: 98px;
    color: #1b6ab0;
    margin-top: 0;
}

.promo .title .highlight {
    color: #4c6dee;
}

.promo .intro {
    font-size: 28px;
    max-width: 680px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.overline {
    text-decoration: overline;
}

.promo .btns .btn {
    margin-right: 15px;
    font-size: 18px;
    padding: 8px 30px;
}

.promo .meta {
    margin-top: 120px;
    margin-bottom: 30px;
    color: #0a7396;
}

.promo .meta li {
    margin-right: 15px;
}

.promo .meta a {
    color: #0a7396;
}

.promo .meta a:hover {
    color: #074f66;
}

.promo .social-media {
    background: #0c86ae;
    padding: 10px 0;
    margin: 0 auto;
}

.promo .social-media li {
    margin-top: 15px;
}

.promo .social-media li.facebook-like {
    margin-top: 0;
    position: relative;
    top: -5px;
}


/* ======= About Section ======= */

.about {
    padding: 80px 0;
    background: #f5f5f5;
}

.about .title {
    color: #1b6ab0;
    margin-top: 0;
    margin-bottom: 60px;
}

.about .intro {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.about .item {
    position: relative;
    margin-bottom: 30px;
}

.about .item .icon-holder {
    position: absolute;
    left: 30px;
    top: 0;
}

.about .item .icon-holder .fa {
    font-size: 24px;
    color: #1b6ab0;
}

.about .item .content {
    padding-left: 60px;
}

.about .item .content .sub-title {
    margin-top: 0;
    color: #1b6ab0;
    font-size: 18px;
}


/* ======= Features Section ======= */

.features {
    padding: 80px 0;
    background: #17baef;
    color: #fff;
}

.features .title {
    color: #074f66;
    margin-top: 0;
    margin-bottom: 30px;
}

.features a {
    color: #074f66;
}

.features a:hover {
    color: #042a36;
}

.features .feature-list li {
    margin-bottom: 10px;
    color: #074f66;
}

.features .feature-list li .fa {
    margin-right: 5px;
    color: #fff;
}


/* ======= Contact Section ======= */

.contact {
    padding: 80px 0;
    background: #17baef;
    color: #fff;
}

.contact .contact-inner {
    max-width: 760px;
    margin: 0 auto;
}

.contact .title {
    color: #1b6ab0;
    margin-top: 0;
    margin-bottom: 30px;
}

.contact .intro {
    margin-bottom: 60px;
}

.contact a {
    color: #074f66;
}

.contact a:hover {
    color: #042a36;
}

.contact .author-message {
    position: relative;
    margin-bottom: 60px;
}

.contact .author-message .profile {
    position: absolute;
    left: 30px;
    top: 15px;
    width: 100px;
    height: 100px;
}

.btn-group {
    margin: 5px;
}

.btn-success {
    background: #4c6dee;
    border: none;
}

.btn-success:focus {
    background: #5cb85c;
}

.contact .author-message .profile img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.contact .author-message .speech-bubble {
    margin-left: 155px;
    background: #10b2e7;
    color: #074f66;
    padding: 30px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: relative;
}

.contact .author-message .speech-bubble .sub-title {
    color: #074f66;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 30px;
}

.contact .author-message .speech-bubble a {
    color: #fff;
}

.contact .author-message .speech-bubble:after {
    position: absolute;
    left: -10px;
    top: 60px;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #10b2e7;
}

.contact .author-message .speech-bubble .source {
    margin-top: 30px;
}

.contact .author-message .speech-bubble .source a {
    color: #074f66;
}

.contact .author-message .speech-bubble .source .title {
    color: #0c86ae;
}

.contact .info .sub-title {
    color: #1b6ab0;
    margin-bottom: 30px;
    margin-top: 0;
}

.contact .social-icons {
    list-style: none;
    padding: 10px 0;
    margin-bottom: 0;
    display: inline-block;
    margin: 0 auto;
}

.contact .social-icons li {
    float: left;
}

.contact .social-icons li.last {
    margin-right: 0;
}

.contact .social-icons a {
    display: inline-block;
    background: #1b6ab0;
    width: 48px;
    height: 48px;
    text-align: center;
    padding-top: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin-right: 8px;
    float: left;
}

.contact .social-icons a:hover {
    background: rgba(108, 63, 238, 0.62);
}

.contact .social-icons a .fa {
    color: #fff;
}

.contact .social-icons a .fa:before {
    font-size: 26px;
    text-align: center;
    padding: 0;
}


/* ======= Footer ======= */

.footer {
    padding: 15px 0;
    background: #042a36;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 20;
}

.footer .copyright {
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
}

.footer .fa-heart {
    color: #fb866a;
}

.app {
    width: 100%;
    position: relative;
}

.app #start-camera {
    display: none;
    border-radius: 3px;
    max-width: 400px;
    color: #fff;
    background-color: #448AFF;
    text-decoration: none;
    padding: 15px;
    opacity: 0.8;
    margin: 50px auto;
    text-align: center;
}

.app video#camera-stream {
    display: none;
    width: 100%;
}

.app img#snap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: none;
}

.app #error-message {
    width: 100%;
    background-color: #ccc;
    color: #9b9b9b;
    font-size: 28px;
    padding: 200px 100px;
    text-align: center;
    display: none;
}

.app .controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    z-index: 20;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 30px;
    display: none;
    margin-left: 15%;
}

.app .controls a {
    border-radius: 50%;
    color: #fff;
    background-color: #111;
    text-decoration: none;
    padding: 15px;
    line-height: 0;
    opacity: 0.7;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.app .controls a:hover {
    opacity: 1;
}

.app .controls a.disabled {
    background-color: #555;
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.app .controls a.disabled:hover {
    opacity: 0.5;
}

.app .controls a i {
    font-size: 18px;
}

.app .controls #take-photo i {
    font-size: 32px;
}

.app canvas {
    display: none;
}

.app video#camera-stream.visible,
.app img#snap.visible,
.app #error-message.visible {
    display: block;
}

.app .controls.visible {
    display: flex;
}


/* Login Popup Modal */

.close {
    position: absolute;
    right: 15px;
    top: 0;
    font-size: 35px;
}

.close:focus {
    outline: none;
}

.modal {
    z-index: 9999 !important;
    top: 75px;
}

.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: absolute;
    right: 0;
    left: 0;
    color: #444444;
}

.loginmodal-container h1 {
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=email],
input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=email]:hover,
input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.loginmodal {
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
}

.loginmodal-submit {
    border: 0px;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #1b6ab0;
    padding: 13px 20px;
    font-size: 14px;
}

.loginmodal-submit:hover {
    color: #fff;
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #134e81;
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help {
    float: left;
    font-size: 12px;
}

.login {
    border: 1px solid #17baef;
    border-radius: 3px;
}

.login-adjusted {
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.45);
}

#loginError {
    display: none;
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid rgba(255, 94, 94, .8);
    border-radius: 5px;
    background: rgba(255, 166, 165, 0.20);
    color: black;
}

.error {
    border-color: #ff1f1f !important;
}

.loginmodal-container input:focus {
    outline: none;
}

.err-mes {
    font-size: 12px;
    margin: -10px 0 12px 5px;
    color: #ff0039;
}

.photo-advice-info {
    font-weight: 500;
    color: white;
}

.overlay-advice {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    padding: 67px;
    background: rgba(255, 255, 255, 0.31);
    width: 50%;
    margin: 0 auto;
    top: 20%;
}

#profileForm {
    width: 90%;
    text-align: left;
}

.cust {
    text-align: left;
}

.cust-title {
    margin-top: 20px;
    margin-bottom: 0;
}

.cust-subtitle {
    letter-spacing: 1px;
    margin-top: 4px;
    margin-bottom: 25px;
    color: white;
}

.subtitle-hr {
    margin-top: 5px;
}

.input-label {
    padding-left: 8px;
}

#savedMessage {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.savedText {
    opacity: 0;
    position: fixed;
    top: 7%;
    left: -100%;
    font-size: 70px;
    color: rgba(255, 255, 255, 0.55);
    z-index: 99;
    letter-spacing: 1px;
}

#profileForm .form-control {
    background: transparent !important;
    border: none !important;
    border-bottom: 4px solid #4c6dee !important;
    border-radius: 0;
    font-size: 17px;
    padding: 15px 10px 15px;;
    width: 70%;
    -webkit-transition: all 0.3s ease
;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}

#profileForm #email:hover,
#profileForm #displayName:hover {
    border-bottom: 4px solid #4c6dee !important;
}

#profileForm #email:focus,
#profileForm #displayName:focus {
    font-size: 25px;
    border: none;
    color: #062f53;
    background: rgba(208, 211, 255, 0.36) !important;
    width: 85%;
    padding: 25px 15px;
}

#profileForm label {
    font-weight: 400;
    letter-spacing: 1px;
}

#profileForm input:disabled {
    background: transparent !important;
    border: none !important;
    border-bottom: 2px solid #1b6ab0 !important;
    border-radius: 0;
    font-size: 17px;
}

#profileForm input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #17baef inset !important;
}

#profileForm input::-webkit-input-placeholder {
    color: rgba(244, 244, 244, 0.50) !important;
}

#profileForm input:-moz-placeholder {
    color: rgba(244, 244, 244, 0.50) !important;
}

#profileForm input:-moz-placeholder {
    color: rgba(244, 244, 244, 0.50) !important;
}

#profileForm input:-ms-input-placeholder {
    color: rgba(244, 244, 244, 0.50) !important;
}

.change-button {
    color: white;
}

.btn span.glyphicon {
    opacity: 0;
}

.btn.active span.glyphicon {
    opacity: 1;
}

#profileContainer {
    padding-bottom: 150px;
}


/* Moodu the Bear */

.moodu {
    animation: MoveUpDown 1s linear infinite;
    position: absolute;
    left: 0;
    bottom: 0;
}


/* media queries */

@media(max-width: 1000px) {
    .promo .container {
        margin-bottom: 0;
    }
    .container {
        margin: 20px 40px;
    }
    .footer-adjust {
        width: 90% !important;
    }
    .app #start-camera.visible {
        display: block;
    }
    .app .controls a i {
        font-size: 16px;
    }
    .app .controls #take-photo i {
        font-size: 24px;
    }
}

@media(max-width: 600px) {
    .container {
        margin: 10px;
    }
    .app #error-message {
        padding: 80px 50px;
        font-size: 18px;
    }
    .app .controls a i {
        font-size: 12px;
    }
    .app .controls #take-photo i {
        font-size: 18px;
    }
}

@media(max-width: 768px) {
    #profileForm {
        width: 100%;
        text-align: left;
        margin: 0 auto;
    }
    .overlay-advice {
        width: 75%;
    }
    .box {
        width: 75%;
        margin-left: -37.5%;
    }
    .controls {
        width: 80% !important;
        margin-left: 10% !important;
        padding: 0 0 5px 0 !important;
    }
    .footer {
        display: none;
    }
}

@media (max-width: 767px) {
    .header .main-nav button {
        margin-right: 0;
    }
    .header .main-nav .navbar-collapse {
        padding-left: 15px;
        padding-right: 15px;
    }
    .promo .btns .btn {
        margin-right: 0;
        clear: both;
        display: block;
        margin-bottom: 30px;
    }
    .promo .title {
        font-size: 66px;
    }
    .promo .meta {
        margin-top: 60px;
    }
    .promo .meta li {
        float: none;
        display: block;
        margin-bottom: 5px;
    }
    .contact .author-message {
        text-align: center;
    }
    .contact .author-message .profile {
        position: static;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .contact .author-message .speech-bubble {
        margin-left: 0;
    }
    .contact .author-message .speech-bubble:after {
        display: none;
    }
    .contact .social-icons a {
        width: 36px;
        height: 36px;
        padding-top: 7px;
        margin-right: 2px;
    }
    .contact .social-icons a .fa:before {
        font-size: 18px;
    }
}

@media (min-width: 767px) {
    #navBarToggle {
        display: none !important;
    }
}

@media (max-width: 640px) {
    .hideOn640 {
        display: none;
    }
}

@keyframes MoveUpDown {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 100px;
    }
    100% {
        bottom: 0;
    }
}


/* Small devices (tablets, 768px and up) */


/* Medium devices (desktops, 992px and up) */


/* Large devices (large desktops, 1200px and up) */
